html, body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
}

h1, h2, h3, h4, h5, a, p {
    color: rgb(41, 41, 41)
}

h1 {
  font-weight: 700;
  font-size: 24pt;
  margin: 0;
  color: rgb(41, 41, 41);
  text-align: center;
  padding: 18px 10px;
}

h2 {
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 40px;
}

h3 {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  margin: 0px 0px;
}

p {
  font-weight: 400;
  font-size: 14px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  height: 70px;
  background: white;
  border-bottom: 1px solid rgb(237,238,238);
}

svg {
position: relative;
left: 50%;
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
transform: translateX(-50%);
}


.container {
  max-width: 900px;
  margin: auto;
  padding: 40px 0px;
  display: block;
  text-align: center;
  text-decoration: none;
}

.description{
  text-align: center;
  background-color: rgb(250,250,250);
}


.visualisation{
  text-align: center;
  min-height: 300px;
  background-color: rgb(250,250,250);

}

.footer{
  padding: 50px 0px 0px 0px;
  text-align: center;
  text-decoration: none;
  display: block;
  background-color: rgb(41, 41, 41)

}

.footer p {
  margin: 0px;
  font-size: 14px;
  padding-bottom: 15px;
  color: white;
  padding-bottom: 50px;
  line-height: 20px;

}

.footer h5{
	text-transform: uppercase;
  font-size: 8pt;
  margin: 0px;
  color: white;
  padding-top: 50px;
  padding-bottom: 10px;
}

#copyright{
  font-size: 12px;
  padding: 40px 0px 10px 0px;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}